.player-wrapper {
    position: relative;
    padding-top: 56.25% /* Player ratio: 100 / (1280 / 720) */
  }
  
  .react-player {
    position: absolute;
    top: 0;
    left: 0;
  }


@media screen and (max-width: 770px) {
    .content-wrapper{
        flex-direction: column;
    }
    .vertical-video-grid{
        flex-direction: row;
        margin-top: 1rem;
        flex-wrap: wrap;
    }
    
}
