@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0px;
  margin: 0px;
  background-color: #1f2028;
  font-family: 'Poppins', sans-serif; 

}
::-webkit-scrollbar {
  width: 0.4rem;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #4b4c53;
  border-radius: 5px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}