@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0px;
  margin: 0px;
  font-family: 'Poppins', sans-serif; 

}


.main-content{
  margin-top: 0.75rem;
}
:root{
  background-color: #1f2028;
}
::-webkit-scrollbar {
  background-color: #1f2028;
  width: 0.4rem;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #4b4c53;
  border-radius: 5px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

.footer-bar{ 
  display: none;
}

@media only screen and (max-width: 450px) {
  .sidebar-sec{
    display: none;
  }
  .footer-bar{ 
    display: block;
  }
  .main-content{
    margin-bottom: 32px;
  }
}


@media only screen and (max-width: 360px) {
  .video-card{
    width:85vw;
  }
}
